/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Escenario 2D */
.escenario {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* Fondo de pantalla */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-image: url('Sources/background.jpg');
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center;
    z-index: 1;
    transition: transform 0.1s linear;
}

/* Elementos interactivos en el escenario */
.elementos-escenario {
    position: relative;
    z-index: 2;
    height: 100%;
}

.elemento-interactivo {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.elemento-interactivo:hover {
    transform: scale(1.1);
}
.me {
    position: absolute;
    top: 54vh;
    left: 60.5%;
    width: 8vw;
    z-index: 2;
    animation: fadeIn 1s ease-out;
}

#quien-soy {
    top: 9.26vh;    
    left: 20.83vw;  
    width: 5.21vw;  
}

#proyectos {
    bottom: -12.26vh; 
    left: 15.63vw;   
    width: 5.21vw;   
}

#contacto {
    top: 30vh;    
    left: 53vw;   
    width: 8vw;   
}

#como-usarlo {
    top: 0.93vh;     
    left: 1.04vw;    
    width: 5.21vw;   
}

#me-gusta{
    top: 123vh;
    left: 49vw;
    width: 8vw;
}

.elemento-interactivo img {
    width: 100%;
    height: auto;
}

/* Estilos para los popups */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro para mejor contraste */
    z-index: 1000; /* Mayor z-index para asegurar que esté arriba de todo */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita scroll dentro del popup */
}

.popup-contenido {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto; /* Scroll interno si el contenido es muy largo */
    position: relative;
    animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
    from { 
        opacity: 0;
        transform: translateX(-54%) translateY(20px) scale(calc(0.5 / var(--pixel-ratio)));
    }
    to { 
        opacity: 1;
        transform: translateX(-54%) translateY(0) scale(calc(0.5 / var(--pixel-ratio)));
    }
}

.body-no-scroll {
    overflow: hidden;
}
.cerrar-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.contenido-portafolio {
    position: relative;
    z-index: 2;
    min-height: 200vh; /* Misma altura que el fondo */
    padding: 20px;
}